{
  "env": {
    "webpack": {
      "presets": ["@babel/preset-env"]
    },
    "server": {
      "presets": [
        "@babel/preset-env"
      ],

      "plugins": [
        [
          "@babel/transform-runtime",
          { version: '3', proposals: true}
        ]
      ]
    },
    "server-webpack": {
      "presets": [
        "@babel/preset-env"
      ],

      "plugins": [
        [
          "@babel/transform-runtime",
          { version: '3', proposals: true}
        ]
      ]
    }
  },

  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "cover 99.5%",
            "chrome > 52",
            "ie > 9"
          ]
        }
      }
    ]
  ]
}
